sudo: false

language: node_js

node_js:
  - "9"

install:
  - npm install
  - npm install -g codecov

branches:
  only:
    - master
    - develop

env:
  matrix:
    - TEST_TYPE=lint
    - TEST_TYPE=build
    - TEST_TYPE=test
    - TEST_TYPE=coverage

script:
  - |
    if [ "$TEST_TYPE" = lint ]; then
      npm run lint
    elif [ "$TEST_TYPE" = compile ]; then
      npm run build
    elif [ "$TEST_TYPE" = test ]; then
      npm run test
    elif [ "$TEST_TYPE" = test ]; then
      istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
      codecov
    fi