sudo: false

language: node_js

node_js:
  - "8"

branches:
  only:
    master

env:
  matrix:
    - TEST_TYPE=lint
    - TEST_TYPE=build
    - TEST_TYPE=test

script:
  - |
    if [ "$TEST_TYPE" = lint ]; then
      npm run lint
    elif [ "$TEST_TYPE" = compile ]; then
      npm run build
    elif [ "$TEST_TYPE" = test ]; then
      npm run test
    fi